fastapi~=0.118.0
uvicorn==0.52.1
python-telegram-bot[all]==22.8
sqlalchemy[asyncio]==2.0.51
asyncmy==0.2.11
mariadb==1.1.14
python-dotenv>=1.2.2,<2.0.0
aiosqlite==0.22.1
singleton-class-decorator>=1.0.1,<2.0.0
aiofiles==25.1.0
aiohttp==3.14.3
python-multipart==0.0.22
aiorwlock==1.5.1
pillow==12.3.0
pixivpy3==3.7.5
b2sdk==2.12.0
redis==8.1.0
